body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

img {
  width: 100%;
}

main img {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

form  {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  border-radius:10%;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

footer {
  background-color: #ff385c;
  padding-bottom: 25px;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* When a web browser is larger than 600 pixels,
   apply these rules. */
   @media all and (min-width: 480px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
    }

    .logo {
      font-size: 36px;
    }

    header h1 {
      padding-top: 0;
      font-size: 48px;
    }

    header nav ul li a:hover {
      color: #bdbdbd;
    }

    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    form input {
      display: block;
    }

    form label {
      display: block;
    }

    form select {
      display: block;
    }

    form button {
      align-self: flex-start;
      height: fit-content;
      width: 10%;
    }

    .group {
      display: flex-wrap;
      flex-direction: row;
    }

    .ideas {
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
    }

    .idea {
      flex: 1 1 calc(45% - 50px);  
      padding: 10px;
    }

    section.alternate-background {
      display: flex;
      flex-wrap: wrap;
    }

    section.alternate-text {
      flex: 1;
      flex-basis: 50%;
    }

    section.alternate-img {
      flex: 1;
      flex-basis: 50%;
    }

  }
